{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }

  </style>
</head>
<h2 style="text-align:center; color:white;">Добавить курс</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px; color:white;">
    {%csrf_token%}
    <div class="form-group">
      <label for="CourseName">Название курса</label>
      {% render_field courseForm.CourseName class="form-control" placeholder="USA" %}
        <br><br>
      <label for="QuestionNumber">Всего вопросов</label>
      {% render_field courseForm.QuestionNumber class="form-control" placeholder="10" %}
    <br><br>
      <label for="TotalMarks">Всего баллов</label>
      {% render_field courseForm.TotalMarks class="form-control" placeholder="50" %}
    </div>


    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
<br><br><br>
{% endblock content %}
